<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MudVibes Rules</title>
</head>
<body>
<header>
    <h1>Rules &amp; Information</h1>
</header>
<main>
    <p>Select a section to learn more about MudVibes.</p>
    <ul>
        <li><a th:href="@{/rules/overview}">Overview</a></li>
        <li><a th:href="@{/rules/etiquette}">Etiquette</a></li>
    </ul>
</main>
</body>
</html>
